body{
    background-color:  #555555;
}
    body h1{
        font-size: 24px;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: #ffffff;
    }

    h2{
        font-size: 18px;
        text-align: left;
        text-decoration-color: #ffffff;
    }